<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLPTConnection"
			connectionString="Server=DESKTOP-DO2I143;Database=QLPHONGTRO;Integrated Security=True;TrustServerCertificate=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
